site:
  title: NBNL Modellen — {{ site_title }}
  url: {{ site_url }}
  start_page: ROOT::index.adoc
content:
  sources:
    - url: ''
      tags: '@({1..9})*({0..9}).+({0..9})'
      branches:
        - main
        - draft*
      start_path: src/docs
asciidoc:
  attributes:
    page-pagination: ''
    experimental: ''
    kroki-fetch-diagram: true  # Whether rendering is done server-sided so the images are served statically.
    kroki-default-format: svg@
    kroki-server-url: http://fruit.ritger.nl:9000
  extensions:
    - asciidoctor-kroki
output:
  clean: true
  dir: output/docs/html
{% if release_strategy == "evolution" -%}
urls:
  latest_version_segment: ''
{% endif -%}
ui:
  bundle:
    url: https://github.com/Netbeheer-Nederland/antora-nbnl-ui/releases/download/1.0/ui-bundle.zip
  default_layout: {% if has_nav == "false" %}single-page{% else %}default{% endif %}
antora:
  extensions:
    - require: '/opt/build/antora/add-collector-config.js'
    - require: '@antora/collector-extension'
    - require: '/opt/build/antora/version-postprocessor.js'
    - require: '@antora/lunr-extension'
